* {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#root {
  height: 100vh;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  h1 {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 0 4px;
    text-transform: uppercase;
    font-style: italic;
  }
}

.title {
  align-self: center;
  margin: 2rem 0;
}

.board {
  display: flex;
  align-self: center;
  width: 300px;
  flex-wrap: wrap;
  font-size: 100px;

  &__cell {
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }

  &__cell:nth-child(1),
  &__cell:nth-child(2),
  &__cell:nth-child(3) {
    border-top: none;
  }

  &__cell:nth-child(3),
  &__cell:nth-child(6),
  &__cell:nth-child(9) {
    border-right: none;
  }

  &__cell:nth-child(7),
  &__cell:nth-child(8),
  &__cell:nth-child(9) {
    border-bottom: none;
  }

  &__cell:nth-child(1),
  &__cell:nth-child(4),
  &__cell:nth-child(7) {
    border-left: none;
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    margin-bottom: 10px;
    height: 30px;
    width: 190px;
    border: 1px solid rgb(99, 99, 99);
    padding: 3px 0 3px 10px;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 10rem;
  }
}

.congratulation {
  display: flex;
  align-self: center;
  width: 15rem;
  flex-direction: column;
  text-align: center;
}

.button {
  margin-top: 10px;
  height: 25px;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: rgb(53, 53, 255);
  color: white;
  border-radius: 5px;
  font-size: 1rem;

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.exit {
    margin-top: 2rem;
  }

  &:hover {
    background-color: darken(rgb(53, 53, 255), 5);
  }

  &:active {
    background-color: darken(rgb(53, 53, 255), 20);
  }
}

.userlist {
  position: absolute;
  left: 5rem;
  top: 5rem;
  border: 1px solid rgb(206, 206, 206);
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;

  li {
    margin-bottom: 1rem;
  }
}
